/* for debugging { */
*[block]
  outline: 1px solid rgba(255,192,0,.3)

*[editable]
  outline: 1px solid rgba(255,0,0,.3)
  padding: 1em
  margin: .25em
*[editable]:hover
  outline: 1px solid rgba(255,255,0,.3)
/* } for debugging */

/* empty placeholder */
*[editable]:empty
  &:before
    display: inline
    opacity: 0.5
    content: "_"

@import 'mod/dragger.styl'
