extends /base.pug
block head
  +css("/css/editable/index.css")
block body
  .w-1024.mx-auto.rwd.my-4.d-flex
    .m-2.mr-4
      .list-group(ld="menu")
        .list-group-item(draggable="true",data-name="button",data-mode="inline") button
        .list-group-item(draggable="true",data-name="image",data-mode="inline") image
        .list-group-item(draggable="true",data-name="table",data-mode="block") table
        .list-group-item(draggable="true",data-name="list",data-mode="block") list
    .flex-grow-1
      div#root(hostable)
        div#d1(editable)
          h3#h3 Caption
          div#d2(editable)
            p 
              span nested
              span.btn.btn-primary(draggable,editable="true") Hi
              span ditable
            div#d3(editable) nested ( lv2 )
        div(attrable="data-name",placeholder="") attrable
        img(ed-type="image")
        div(ed-type="image")
        div(ed-type="background")
        .list-group(hostable)
          .list-group-item(resizable,draggable,editable) item 1
          .list-group-item(resizable,draggable,editable) item 2
          .list-group-item(resizable,draggable) item 3

block script
  +script("js/editable/index.js")
  +script("js/editable/mod/contenteditable.js")
  +script("js/editable/mod/focalbox.js")
  +script("js/editable/mod/dragger.js")
  +script("js/editable/mod/plainpaste.js")
  +script("js/editable/mod/drag-insert.js")
  +script("js/index.js")
