extends /base.pug
block head
  +css("/css/editable/index.css")
  style(type="text/css"): :stylus
    *[editable]
      outline: 1px solid rgba(255,0,0,.3)
      padding: 1em
      margin: .25em
    *[editable]:hover
      outline: 1px solid rgba(255,255,0,.3)
      

block body
  .w-1024.mx-auto.rwd.my-4
    div#root(containable)
      div#d1(editable)
        h3#h3 Caption
        div#d2(editable)
          p 
            span nested
            span.btn.btn-primary(editable="true") Hi
            span ditable
          div#d3(editable) nested ( lv2 )
      div(attrable="data-name",placeholder="") attrable
      img(ed-type="image")
      div(ed-type="image")
      div(ed-type="background")
      div(containable)
        div(resizable,draggable="true",editable) item 1
        div(resizable,draggable="true",editable) item 2
        div(resizable,draggable="true",editable) item 3
block script
  +script("js/editable/index.js")
  +script("js/editable/mod/contenteditable.js")
  +script("js/editable/mod/focalbox.js")
  +script("js/editable/mod/dragger.js")
  +script("js/editable/mod/plainpaste.js")
  +script("js/index.js")
