div
  .d-flex
    each i in [1,2,3]
      .flex-grow-1.m-4
        img.w-100.mb-2(src="/assets/img/block/DSC_7126.jpg")
        h3 Feature #{i}
        p Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
