.row
  each i in [1,2,3]
    .col-md
      .aspect-ratio.ratio-2by1.bg-dark.d-flex.align-items-center.justify-content-center div Feature ${i}
      h5 Feature ${i}
      p some random text p some random text p some random text p some random text p some random text .col-md
script: :lsc
style(type="text/css"): :stylus


